 ///https://github.com/dudeguykid/ideas.git

Dudeguykid@gmail.com

aPP ideas
///Pull the historical data
 
///mean of all historical data

/// vs the current on a wave style graph. 
/// 
Add vertical loop lines to split

levels of weather conditions 
Customizable lines


Pull public information statements 


-- 
Keith A. Guernsey
781-608-2937
///
